.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.profile {
  size: 10px;
  max-width: 50%;
}

.about-container {
  margin-top: 10rem;
  margin-left: 2rem;
  max-width: 35%;
}

.about-me {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #9c9c9c;
  text-align: left;
  margin: auto;
  padding-left: 2rem;
}
  
  .title {
    color: #555;
    font-family: "Poppins", sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    margin: auto;
    padding-left: 2rem;
    padding-top: 1rem;
}

.contact {
  max-width: 35%;
}

.contact-me {
  font-family: "Poppins", sans-serif;
  margin-right: 16rem;
  font-size: 1.2rem;
  padding: 0.6rem;
  box-shadow: 3px 3px 3px #9c9c9c;
  border: #555;
  border-radius: 5px;
  cursor: pointer;
}
